.first-options {
    margin: 15px;
}

#options {
    margin: 20px;
    width: 200px;
    border: 2px solid;
    border-radius: 16px;
}

#options:hover {
    background-color: white;
}

#auth-header {
    position: absolute;
    margin-left: 30px;
}